name: Deploy to k3s

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        run: mvn -q -DskipTests clean package

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          IMAGE=ghcr.io/${OWNER}/centro-backend:latest
          docker build -t $IMAGE .
          echo "IMAGE_NAME=$IMAGE" >> $GITHUB_ENV

      - name: Push Docker image
        run: docker push $IMAGE_NAME

      #       DESPLIEGUE DENTRO DE LA VM POR SSH
      - name: Deploy to k3s via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            echo "Usando kubeconfig interno del servidor"
            export KUBECONFIG=/etc/rancher/k3s/k3s.yaml

            echo "Actualizando Deployment centro-datos"
            OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
            IMAGE_TAG=ghcr.io/${OWNER}/centro-backend:latest

            kubectl set image deployment/centro-datos centro-datos=$IMAGE_TAG -n app-prod || true

            echo "pull image and start pods"
            kubectl -n app-prod rollout restart deployment/centro-datos

            echo "Esperando rollout..."
            kubectl rollout status deployment/centro-datos -n app-prod --timeout=120s

            echo "Deployment completado"
